* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #E8EAED;
  --gray: #202124;
  --white-gray: rgb(150,155,161);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul, a {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
}
.container header {
  width: 100%;
  height: 180px;
  border-bottom: 1px solid var(--white-gray);
  display: flex;
  justify-content: space-between;
}
.container header .logo {
  margin: 50px 80px;
}
.container header .logo img {
  width: 150px;
}
.container header .search {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 20px 0px;
  width: 100%;
  height: 100%;
  gap: 30px;
}
.container header .search .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container header .search .search-bar span {
  color: var(--white);
  font-size: 25px;
}
.container header .search .search-bar input {
  width: 820px;
  height: 62px;
  background-color: rgb(48, 49, 52);
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 10px 60px;
  color: var(--white);
  font-size: 23px;
}
.container header .search .search-bar input:hover {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.32);
}
.container header .search .search-bar #icon-1 {
  position: relative;
  left: 40px;
}
.container header .search .search-bar .icons-right {
  position: relative;
  left: -80px;
  display: flex;
  gap: 10px;
}
.container header .search .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.container header .search .navigation .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container header .search .navigation .nav-menu .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  color: var(--white-gray);
}
.container header .search .navigation .nav-menu .nav-item a:hover {
  color: #8AB4F8;
}
.container header .search .navigation .nav-tools {
  width: 140px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container header .search .navigation .nav-tools:hover {
  background-color: rgb(48, 49, 52);
  border: 1px solid var(--white);
  border-radius: 5px;
}
.container header .search .navigation .nav-tools:hover a {
  color: white;
}
.container header .search .navigation .nav-tools a {
  font-size: 20px;
  color: var(--white-gray);
}
.container header .icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 50px;
  gap: 40px;
  width: 100%;
}
.container header .icons a span {
  font-size: 35px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container header .icons a span:hover {
  background-color: #464749;
  border-radius: 100px;
}
.container header .icons .perfil {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00897b;
  border-radius: 100px;
}
.container header .icons .perfil h1 {
  font-size: 25px;
  font-weight: 200;
  color: white;
}
.container .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 320px;
}
.container .content .container-pesquisa {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.container .content .container-pesquisa h2 {
  font-size: 19px;
  font-weight: 500;
  color: var(--white-gray);
}
.container .content .container-pesquisa .content-pesquisa {
  width: 100%;
}
.container .content .container-pesquisa .content-pesquisa .result a {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .content .container-pesquisa .content-pesquisa .result a .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .content .container-pesquisa .content-pesquisa .result a .logo img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.container .content .container-pesquisa .content-pesquisa .result a .logo .link {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.container .content .container-pesquisa .content-pesquisa .result a .logo .link h1 {
  font-size: 21px;
  color: #cacaca;
}
.container .content .container-pesquisa .content-pesquisa .result a .logo .link h2 {
  font-size: 17px;
  color: #cacaca;
}
.container .content .container-pesquisa .content-pesquisa .result a .text-principal {
  color: #cacaca;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .content .container-pesquisa .content-pesquisa .result a .text-principal h1 {
  color: #8AB4F8;
  font-size: 29px;
  font-weight: 500;
}
.container .content .container-pesquisa .content-pesquisa .result a .text-principal h1:hover {
  text-decoration: underline;
}
.container .content .container-pesquisa .content-pesquisa .result a .text-principal p {
  font-size: 20px;
}
.container footer {
  width: 100%;
  height: 140px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  background-color: #171717;
}
.container footer .location {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--white-gray);
  display: flex;
  align-items: center;
}
.container footer .location h1 {
  font-size: 20px;
  font-weight: 200;
  color: #9aa0a6;
  height: 50px;
  width: 80px;
  display: flex;
  align-items: center;
  margin: 20px 300px;
  border-right: 1px solid var(--white-gray);
}
.container footer .location a {
  margin: 0px -260px;
}
.container footer .location a h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}
.container footer .location a h2 span {
  color: #8AB4F8;
  font-weight: 200;
}
.container footer .nav-footer {
  width: 100%;
  height: 70px;
}
.container footer .nav-footer ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 300px;
}
.container footer .nav-footer ul li a {
  font-size: 20px;
  font-weight: 200;
  color: var(--white-gray);
}
.container footer .nav-footer ul li a:hover {
  color: #b4b7bb;
}/*# sourceMappingURL=style.css.map */